<!-- <ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-toolbar style="height: 40px;">
  <ion-button (click)="login()" fill="clear" slot="end">
    <ion-icon slot="start" name="person-outline"></ion-icon>
    Iniciar Sesión
  </ion-button>
</ion-toolbar>


<ion-content>
  <img src="../../../../assets/img/background/wave.svg" style="transform: rotate(180deg);">
  <ion-grid style="height: 65%; width: 80%; margin-top: -60px;">
    <ion-row style="height: 100%;">
      <ion-col size="12">
        <ion-card>
          <ion-header>
            <h1 style="font-size: 70px; color: #C87462; font-weight: bold; text-align: left;">¿Quiénes somos?</h1>
          </ion-header>
          <ion-content>
            <b>INVEOS</b> es un sistema web que tiene la finalidad de apoyar el crecimiento de pequeños
            negocios con la ayuda de la tecnología, teniendo así una empresa más eficiente.
          </ion-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
